.add-product-page {
  width: 100%;
  background-color: rgba(255, 0, 0, 0.395);
}

/* .page-title {
  background-color: rgba(0, 255, 255, 0.404);
}

.add-product-form {
  background-color: rgba(255, 255, 0, 0.355);
}

.form-group {
  background-color: rgba(0, 128, 0, 0.465);
}

.add-product-button {
} */
