.auth-button {
  position: fixed;
  top: 20px; /* Avstånd från toppen */
  left: 20px; /* Avstånd från vänster */
  background-color: #d9544f60; /* Röd färg för att indikera utloggning */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.auth-button:hover {
  background-color: #c9312cb0; /* Mörkare röd vid hover */
}
