.auth-button,
.go-home-button {
  position: absolute;
  top: 20px; /* Avstånd från toppen */
  left: 45px; /* Avstånd från vänster */
  background-color: #d9544f60; /* Röd färg för att indikera utloggning */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.auth-button:hover,
.go-home-button:hover,
.add-product-button:hover {
  background-color: #c9312cb0;
}

.admin-button,
.home-button,
.add-product-button {
  background-color: #d9544f60;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}
