/* ProductList.css */
.product-list {
  padding: 20px;
}

.products-title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
